Language: 'Cpp'
BasedOnStyle: 'LLVM'
Standard: 'Cpp11'
TabWidth: '4'
IndentWidth: '4'
ConstructorInitializerIndentWidth: '4'
AccessModifierOffset: '-4'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: 'None'
AlwaysBreakTemplateDeclarations: 'true'
BinPackArguments: 'true'
BinPackParameters: 'false'
BreakBeforeBraces: 'Allman'
BreakBeforeBinaryOperators: 'NonAssignment'
BreakBeforeInheritanceComma: 'true'
BreakBeforeTernaryOperators: 'true'
BreakConstructorInitializers: 'BeforeComma'
BreakStringLiterals: 'true'
ColumnLimit: '110'
CompactNamespaces: 'false'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
Cpp11BracedListStyle: 'false'
DerivePointerAlignment: 'false'
ExperimentalAutoDetectBinPacking: 'false'
FixNamespaceComments: 'true'
IndentCaseLabels: 'false'
IndentWrappedFunctionNames: 'true'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
MaxEmptyLinesToKeep: '2'
NamespaceIndentation: 'Inner'
PenaltyBreakAssignment: '80'
PenaltyBreakBeforeFirstCallParameter: '200'
PenaltyBreakComment: '500'
PenaltyBreakFirstLessLess: '20'
PenaltyBreakString: '1000'
PenaltyExcessCharacter: '20'
PenaltyReturnTypeOnItsOwnLine: '500'
PointerAlignment: 'Left'
ReflowComments: 'false'
SortIncludes: 'false'
SortUsingDeclarations: 'false'
SpaceAfterCStyleCast: 'false'
SpaceAfterTemplateKeyword: 'false'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeParens: 'Never'
SpaceInEmptyParentheses: 'false'
SpacesBeforeTrailingComments: '1'
SpacesInAngles: 'false'
SpacesInCStyleCastParentheses: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
UseTab: 'ForIndentation'
AlignEscapedNewlines: 'DontAlign'